<!-- Home Slider -->
<section class="p-0">
<ngx-slick-carousel class="home-slider" #slickModal="slick-carousel" [config]="sliderConfig">
        <div ngxSlickItem>
            <div class="home home9 text-left p-left">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div>
                                    <h4>Todo el Tiempo</h4>
                                    <h1>Ofertas nuevas</h1>
                                    <a [routerLink]="'/home/left-sidebar/collection/watch'" class="btn btn-outline btn-classic">Cómpralo ahora</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ngxSlickItem>
            <div class="home home10 text-left p-left">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div>
                                    <h4>Pasarela de viajes</h4>
                                    <h1>Todo incluido</h1>
                                    <a [routerLink]="'/home/left-sidebar/collection/watch'" class="btn btn-outline btn-classic">Cómpralo ahora</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ngxSlickItem>
            <div class="home home11 text-left p-left">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div>
                                    <h4>Pasarela de viajes</h4>
                                    <h1>Todo incluido</h1>
                                    <a [routerLink]="'/home/left-sidebar/collection/watch'" class="btn btn-outline btn-classic">Cómpralo ahora</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</ngx-slick-carousel>
</section>
<!-- Home slider end -->