<!-- timer banner -->
<section>
    <div class="container">
        <div class="row banner-timer">
            <div class="col-md-6">
                <div class="banner-text">
                    <h2>Ahorra un <span>30% de descuento</span> en sus destinos</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="timer-box">
                    <div class="timer">
                        <p id="demo">
                            <span>11<span class='padding-l'>:</span><span class='timer-cal'>Días</span></span>
                            <span>11<span class='padding-l'>:</span><span class='timer-cal'>Hrs</span></span>
                            <span>11<span class='padding-l'>:</span><span class='timer-cal'>Min</span></span>
                            <span>11<span class='timer-cal'>Seg</span></span> 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- timer banner end -->