<!-- Parallax banner -->
<section class="p-0 pet-parallax">
    <div class="full-banner parallax parallax-banner19  text-center p-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="banner-contain">
                        <h4>Elije lo que amas</h4>
                        <h3>TObtén un 70% de descuento</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                        <a [routerLink]="'/home/left-sidebar/collection/pets'" class="btn btn-solid black-btn" tabindex="0">¡Compra ahora!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="pet-decor">
            <img src="assets/images/dog.png" alt="" class="img-fluid">
        </div>
    </div>
</section>
<!-- Parallax banner end -->