<!--footer section -->
<footer class="footer-light">
	<div class="light-layout">
		<div class="container">
			<section class="small-section border-section border-top-0">
				<div class="row">
					<div class="col-lg-6">
						<div class="subscribe">
							<div>
								<h4> ¡CONOZCA TODO PRIMERO! </h4>
								<p> Nunca se pierda nada de Tu Viaje al suscribirse a nuestro boletín. </p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<form class="form-inline subscribe-form" action="https://pixelstrap.us19.list-manage.com/subscribe/post?u=5a128856334b598b395f1fc9b&amp;id=082f74cbda" target="_blank" method="post">
							<div class="form-group mx-sm-3">
								<input type="email" #name name="EMAIL" id="mce-EMAIL" class="form-control" placeholder="Ingresa tu correo">
							</div>
							<button type="submit" class="btn btn-solid">Suscríbete</button>
						</form>
					</div>
				</div>
			</section>
		</div>
	</div>
	<section class="section-b-space light-layout">
		<div class="container">
			<div class="row footer-theme partition-f">
				<div class="col-lg-4 col-md-6">
					<div class="footer-title footer-mobile-title">
						<h4>Sobre Nosotros</h4>
					</div>
					<div class="footer-contant">
						<div class="footer-logo">
							<img src="assets/images/icon/logo.png" alt="">
						</div>
						<app-information></app-information>
						<app-social></app-social>
					</div>
				</div>
				<div class="col offset-xl-1">
					<div class="sub-title">
						<app-categories></app-categories>
					</div>
				</div>
				<div class="col">
					<div class="sub-title">
						<app-why-we-choose></app-why-we-choose>
					</div>
				</div>
				<div class="col">
					<div class="sub-title">
						<div class="footer-title">
                            <h4>Contacto</h4>
                        </div>
                        <div class="footer-contant">
                            <ul class="contact-details">
                                <li>Tu Viaje</li>
                                <li>Llámanos: 123-456-7898</li>
                                <li>Email: <a href="mailto:gerencia@tuviaje.travel">gerencia@tuviaje.travel</a></li>
                                <li>Fax: 123456</li>
						    </ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="sub-footer">
		<div class="container">
			<app-copyright></app-copyright>
		</div>
	</div>
</footer>
<!--footer section end -->